.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.LB
{
  margin-top: 50px;
}


.wave
{
  margin-top: 20%;
}


.wave span{
  position: relative;
  display: inline-block;
  color:#b071fc;
  font-size:4em;
  text-transform: uppercase;
  animation:animate 1.5s ease-in-out infinite;
  animation-delay: calc(.1s * var(--c));
}

@keyframes animate{
  0%,100%{
    transform: translateY(0px);
  }
  20%{
    transform: translateY(-20px);
  }
  40%{
    transform: translateY(0px);
  }
}




























